<div class="row p-0 m-0 d-flex justify-content-center align-items-center mt-4 " >
	 <div class="col-12 col-sm-12 col-md-10 col-lg-9 col-xl-7 w-100 sombra mascara" >


	 	<div class="row my-2">
	 		<div class="col-12 col-sm-12 col-md-6 mb-0">

				<div class="card" style="height: 225px;" >
				  <div class="card-body">
				    <h5 class="card-title font-weight-500 mb-4"><i class="fa fa-paper-plane-o fa-lg mr-2" aria-hidden="true"></i>Datos Básicos</h5>
				    <hr>
				    <div class="d-flex" *ngIf="aDataUser?.NOMBRE">
				    	<div class="flex-center">	
				    		<div>
				    			<i class="fa fa-user fa-lg mr-2" aria-hidden="true"></i>
				    		</div>
				    		<div>
				    			Nombres
				    		</div>
				    	</div>
				    	<div class="flex-grow-1 flex-center card-text card-text">
				    		{{aDataUser?.NOMBRE}}
				    	</div>
				   	</div>
				    <div class="d-flex" *ngIf="aDataUser?.TIPO_DOC">
				    	<div class="flex-center">	
				    		<div>
				    			<i class="fa fa-id-card-o fa-lg mr-2" aria-hidden="true"></i>
				    		</div>
				    		<div>
				    			Tipo Documento
				    		</div>
				    	</div>
				    	<div class="flex-grow-1 flex-center card-text card-text">
				    		{{aDataUser?.TIPO_DOC}}
				    	</div>
				   	</div>
				    <div class="d-flex" *ngIf="aDataUser?.CELULAR">

			    		<div>
			    			<i class="fa fa-mobile fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Celular
			    		</div>

				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.CELULAR}}
				    	</div>
				   	</div>
				    <div class="d-flex" *ngIf="aDataUser?.EMAIL">


			    		<div>
			    			<i class="fa fa-envelope-o fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Correo
			    		</div>
				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.EMAIL}}
				    	</div>
				   	</div>
				    <div class="d-flex" *ngIf="aDataUser?.EMAIL">
			    		<div>
			    			<i class="fa fa-phone fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Teléfono
			    		</div>


				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.TELEFONO}}
				    	</div>
				   	</div>
				  </div>
				</div>	
	 		</div>


	 		<div class="col-12 col-sm-12 col-md-6 mb-0">

				<div class="card" style="height: 225px;" >
				  <div class="card-body">
				    <h5 class="card-title font-weight-500 mb-4">Ubicación</h5>
				    <hr>
				    <div class="d-flex" *ngIf="aDataUser?.MUNICIPIO">

			    		<div>
			    			<i class="fa fa-globe fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Municipio
			    		</div>


				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.MUNICIPIO}}
				    	</div>
				   	</div>

				    <div class="d-flex" *ngIf="aDataUser?.DIRECCION">

			    		<div>
			    			<i class="fa fa-map-marker fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Dirección
			    		</div>

				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.DIRECCION}}
				    	</div>
				   	</div>

				    <div class="d-flex" *ngIf="aDataUser?.ESTRATO">

			    		<div>
			    			<i class="fa fa-location-arrow fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Estrato
			    		</div>

				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.ESTRATO}}
				    	</div>
				   	</div>

				    <div class="d-flex" *ngIf="aDataUser?.UBICACION">

			    		<div>
			    			<i class="fa fa-paper-plane-o fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Ubicación
			    		</div>

				    	<div class="flex-grow-1 flex-center card-text">
				    		{{aDataUser?.UBICACION}}
				    	</div>
				   	</div>

				  </div>
				</div>	
	 		</div>
	 	</div><!-- fin row>-->

	 	<div class="row my-0">
	 		<div class="col-12 col-sm-12 col-md-12 my-0">

				<div class="card" >
				  <div class="card-body">
				    <h5 class="card-title font-weight-500 mb-4">NIU</h5>
				    <hr>
				    <div class="row">
				    	<div class="col-12 col-md-6">
						    <div class="d-flex" *ngIf="aDataUser?.NIU">

			    		<div>
			    			<i class="fa fa-location-arrow fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			NIU
			    		</div>

						    	<div class="flex-grow-1 flex-center card-text">
						    		{{aDataUser?.NIU}}
						    	</div>
						   	</div>

						    <div class="d-flex" *ngIf="aDataUser?.NODO">

			    		<div>
			    			<i class="fa fa-map-marker fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Nodo
			    		</div>

						    	<div class="flex-grow-1 flex-center card-text">
						    		{{aDataUser?.NODO}}
						    	</div>
						   	</div>

						    <div class="d-flex" *ngIf="aDataUser?.SEGMENTO">

			    		<div>
			    			<i class="fa fa-location-arrow fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Segmento
			    		</div>


						    	<div class="flex-grow-1 flex-center card-text">
						    		{{aDataUser?.SEGMENTO}}
						    	</div>
						   	</div>

				    	</div>
				    	<div class="col-12 col-md-6">

						    <div class="d-flex" *ngIf="aDataUser?.SUBSEGMENTO">

			    		<div>
			    			<i class="fa fa-paper-plane-o fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Subsegmento
			    		</div>


				
						    	<div class="flex-grow-1 flex-center card-text">
						    		{{aDataUser?.SUBSEGMENTO}}
						    	</div>
						   	</div>
						    <div class="d-flex" *ngIf="aDataUser?.CIRCUITO">
			    		<div>
			    			<i class="fa fa-paper-plane-o fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Circuito
			    		</div>




		
						    	<div class="flex-grow-1 flex-center card-text">
						    		{{aDataUser?.CIRCUITO}}
						    	</div>
						   	</div>
						   	<ng-container *ngIf="aDataUser">
						    <div class="d-flex" *ngIf="aDataUser['CLASE SERVICIO']">

			    		<div>
			    			<i class="fa fa-paper-plane-o fa-lg mr-2" aria-hidden="true"></i>
			    		</div>
			    		<div>
			    			Clase de Servicio
			    		</div>

						    	<div class="flex-grow-1 flex-center card-text">
						    		{{aDataUser['CLASE SERVICIO']}}
						    	</div>
						   	</div>				   		
						   	</ng-container>


				    	</div>
				    </div>





				  </div>
				</div>	
	 	</div><!-- fin row>-->
	 </div>






		<fieldset class="form-group mb-0">
		    <div class="row">
		      <legend class="col-form-label col-sm-4 pt-0 text-justify">¿Autoriza el envio de mensajes para interrupciones de la energía?</legend>
		      <div class="col-sm-8 flex-center">
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" checked name="autoriza" id="autorizasi" value="SI">
				  <label class="form-check-label" for="autorizasi">Si</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" type="radio" name="autoriza" id="autorizano" value="NO">
				  <label class="form-check-label" for="autorizano">No</label>
				</div>
		      </div>
		    </div>
		 </fieldset>  	
	  	<div class="row">
	  		<div class="col-12 flex-center">
	  			<a href="" class="waves-effect waves-light btn">Enviar Formulario</a>
	  		</div>
	  		<!--<div>
	  			<img scr="../assets/img/checlogo.jpg" width="200" height="200">
	  		</div>-->
	  	</div>

	  	</div>


</div>

