/* You can add global styles to this file, and also import other style files */

html,body{
	margin:0px !important;
	padding:0px !important;
	background: #dcdcdc;
}

$verde_umanizalesb:  #a8cf45;


/*Fonts*/

@font-face {
  font-family: 'Nunito-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Light'), local('Nunito-Light'),
      url(assets/fonts/nunito-light_2da56b5e2c5ccc3b04135ac8c52aca93.woff) format('woff'),
      url(assets/fonts/nunito-light_2da56b5e2c5ccc3b04135ac8c52aca93.ttf) format('truetype');
}

@font-face {
  font-family: Arthur;
  src: url(assets/fonts/Arthur-Regular.otf) format("opentype");
}

/*  font-family: "Roboto" !important;;*/

.nunito{
  font-family:"Nunito-Light" !important;
}


.arthur
{
	font-family: Arthur;
}

/* */

/* clases genéricas */
.inactive{
  opacity: 0.5;
  pointer-events: none;
}
.inherit,.text-inherit{
  height: inherit !important;
}
.height-auto{
  height: auto !important;
}

.animation-3-s{
  animation-duration: 5s;
}

.overflow-auto{
  overflow:auto;
}
.hover_icon{
  transition: all 0.6s ease;
}
.hover_icon:hover{
  transform:scale(1.4);
}
.cursor{
  cursor:auto !important;
}
.pointer{
  cursor:pointer !important;
}

.bordes_gris_y{
  border-top:1px solid #dcdcdc;
  border-bottom:1px solid #dcdcdc;
}

.borde_gris_t{
  border-top:1px solid #dcdcdc;
}
.borde_gris_b{
  border-bottom:1px solid #dcdcdc;
}

.font-weight-500{
  font-weight: 500 !important
}

.icon_valid
{
  color:#76c04e !important;
}
.icon_invalid
{
  color: #f44336 !important;
}
.no_sombra,.no_sombra:hover{
  box-shadow: none;
}
.overflow-y-hidden{
  overflow-y:hidden;
}
.overflow-x-hidden{
  overflow-x:hidden;
}
.hide_menu #slide-out{
  transform: translateX(-100%) !important;
}

.show_menu #slide-out{
  transform: translateX(0%) !important;
}

.texto-pequeno{
  font-size: 0.8rem !important;
}
.background_bola_gris{
  color:#9B9F9F;
}
.background_bola_roja{
  color:#F07555 ;
}
.background_bola_amarilla{
  color:#FBD869 ;
}
.line-height-1{
  line-height: 1 !important;
}
.flex-grow-1{
	flex-grow:1;
}
.sombra{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.mascara{
	background: url('./assets/img/mascara_seccion.png') right top repeat-x #f4f4f4;
}
.flex-center{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.centrado_absoluto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* fin clases genericas */

/* scroll*/

.thin::-webkit-scrollbar {
  width: 6px;
 }
.scrollbar-gris::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; 
}

/*  scroll */

/* card */

.card-text {
  color: #747373;
  font-size: 0.9rem;
  font-weight: 400;
}

/* fin cards */


/* tamaños */

.w-50{
  width:50% !important;
}
.w-75{
  width:75% !important;
}

/* fin tamaños  */


/*  Preloader */




$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$width: 100px;

.show_preloader{
	display:block;
}

.hide_preloader{
	display:none;
}

#preloader .loader1 {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

#preloader .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#preloader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}


#preloader .showbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999999999 !important
}

#preloader .cargando{
  padding-left: 13%;
  padding-top: 13%;
  color: #ffffff;
  font-weight: bold;
  z-index:9999 !important;
}



/* fin preload */

/* fixes*/

/* fin fixes*/